*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.container .side-bar{
    background: black;
    width: 20%;
    overflow: hidden;
}

.container{
    display: flex;
    height: calc(100vh - 80px);
}

.container .side-bar .main-logo{
    width: 185px;
    padding-top: 20px;
}

.spotify-logo{
    padding-left: 10px;
}

/* HOME-SEARCH-LIBRARY */
.side-home-cerca p{
    margin-left: 10px;
}

 .about-side-1{
    color: #858585;
}

.about-side{
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding-left: 10px;
    border-left: 3px solid #ADFF2F;
    transition: .3s;
}

.about-side-1{
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding-left: 14px;
    transition: .3s;
    
}

.about-side img,
.about-side-1 img{
    width: 40px;
}

.about-side:hover,
.about-side-1:hover{
    color: #fff;
}


/* LISTA-NOME-LISTA */
.lista-container {
 padding-left: 15px;
 margin-top: 30px;
}

.lista-container h2{
    font-size: 20px;
    text-transform: uppercase;
}

.mini-quadrato{
    height: 50px;
    width: 50px;
    background: #A3A3A3;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* CONTEINER LOGO-PLUS, CREA-PLAYLIST */
.inline-row{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.inline-row p{
    color: #858585;
    font-size: 18px;
    padding-left: 10px;
    transition: .3s;
}

.inline-row p:hover{
 color: #fff;
}

.plus-logo{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LISTA-NOME PLAYLIST */
.lista-playlist ul{
    margin-top: 20px;
    list-style: none;
}

.lista-playlist li{
    color: #858585;
    padding-bottom: 20px;
    transition: .3s;
}

.lista-playlist li:hover{
    color: #fff;
}


/* INSTALLA-LOGO-FINE */
  .download{
      display: flex;
      flex-direction: row;
      color: #858585;
      margin-top: 130px;
}  

.install-logo{
    width: 20px;
    height: 20px; 
    border: 1px solid;
    border-radius: 50%; 
    text-align: center;
    line-height: 15px; 
    display: inline-block;
    transition: .3s;
}

.install-logo:hover i{
    color: #fff;
}

.install-logo:hover{
    color: #fff;
}

.download{
    transition: .3s;
}

.download p{
    margin-left: 10px;
    transition: .3s;
}

.download:hover{
    color: #fff;
}

p:hover{
    color: #fff;
}
.install-logo i{
    font-size: 10px;
    color: #858585;
    transition: .3s;
}

.border-bottom{
    border: 1px solid #858585;
    margin-top: 20px;
    width: 270px;
}

.side-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.immagine-profilo img{
    height: 20px;
    width: 20px;
    background: #808080;
    border-radius: 50%;
    margin-top: 10px;
}

.side-footer p{
    color: #fff;
    margin-left: 10px;
    
}

/* BARRA-HEADER-IMMAGINI */
.nav-bar{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.nav-bar a{
    color: #858585;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .3s;
}

.nav-bar .border{
    border-bottom: 3px solid #ADFF2F;
    width: 45%;
    margin: 0 auto;
    margin-top: 2px;
    transition: .3s;
    
}

.nav-bar a:hover{
    color:#fff;
}

.main-content {
    background: #141922;
    width: 100%;
    position: relative;
}

.scrollable{
    overflow-y: auto;
    height: 100%;
}

.main-content .main-barra{
    height: 100px;
    background: rgba(8, 11, 18, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.bottone-1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

.upgrade-button{
    transition: all .4s;
}

.bottone-1:hover .upgrade-button{
    transform: translateY(-10px);
}

.main-barra .bottone-1 .upgrade-button{
    text-transform: uppercase;
    cursor: pointer;
    width: 260px;
    height: 50px;
    background: rgba(8, 11, 18, 0.4);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}

/* IMMAGINI */
.gallery{
    display: flex;
    flex-wrap: wrap;
}

.mini-container .col{
    width: 230px;
    margin: 10px;
}   

.immagini:hover .layover,
.immagini:hover .layover-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
}

.immagini:hover .layover-1{
    border-radius: 50%;
}

.layover,
.layover-1{
    transition: .3s;
}

.immagini .plus-icona{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    display: none;
    transition: .3s;
    transition: .3s;
}

.immagini:hover .plus-icona{
    display: block;
}

.immagini{
    height: 230px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.immagini:hover{
    transform: scale(1.1);
}

.immagini img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col p{
    color: #858585;
    text-align: center;
}

/* IMMAGINI-2 */
.gallery-2{
    display: flex;
}

.mini-container h2{
    margin-top: 40px;
}
.mini-container h2,p{
    padding-left: 10px;
}

.mini-container p{
    color: #858585;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* IMMAGINI-3 */
.gallery-3{
    display: flex;
}

.gallery-3 img{
    border-radius: 50%;
}
/* FOOTER */
.main-footer{
    background: #282828;
    height: 80px;
}

.musica{
    display: flex;
    justify-content: space-between;
}

.musica-quad{
    height: 80px;
    width: 320px;
}

.musica-quad .musica-ascolto img{
    height: 60px;
}

.musica-quad .musica-ascolto{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}

.titolo-brano-footer h4{
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 5px;
}

.titolo-brano-footer p{
    color: #858585;
    font-size: 12px;
}

.icone-flex{
   margin-left: 120px;
   width: 50px;
   display: flex;
} 
.icone-flex i{
    padding-right: 10px;
    color: #858585;
    transition: .3s;
}

.icone-flex i:hover{
    color: #fff;
}

/* MEDIA-PLAYER */
.musica-quad-1{
    height: 80px;
    width: 700px;
}

.larghezza-media{
    flex-basis: 100px;
}

.media-player{
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    padding-top: 5px;
}

.media-player .icona{
    font-size: 20px;
}

.media-player i{
    margin-left: 30px;
    padding-top: 10px;
    cursor: pointer;
    transition: .3s;
}

.media-player i:hover{
    color: #ADFF2F;
}

/* LINEA-TEMPO */
.linea-tempo{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.linea-tempo p{
    padding-left: 0;
    padding: 5px 20px;
    position: relative;
}

.border-tempo{
    border: 3px solid #858585;
    width: 80%;
    height: 3px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.border-tempo-1{
    border: 3px solid #ADFF2F;
    width: 5%;
    height: 3px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    display: none;
    margin-left: 15px;
    cursor: pointer;
}

.linea-tempo:hover .border-tempo-1{
    display: block;
}

.border-tempo-2{
    border: 3px solid #C1C1C1;
    width: 5%;
    height: 3px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    margin-left: 15px;
    cursor: pointer;
}

.pallina-tempo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 40%;
    display: none;
    cursor: pointer;
}

.linea-tempo:hover .pallina-tempo{
    display: block;
}

/* FOOTER-DESTRA */
.icone-destra-footer{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.icone-destra-footer i{
    margin-left: 10px;
    transition: .3s;
}

.icone-destra-footer i:hover{
    color: #ADFF2F;
}

.barra-volume{
    border: 3px solid #858585;
    width: 70%;
    height: 3px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.linea-tempo-1{
    border: 3px solid #ADFF2F;
    width: 35%;
    height: 3px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    display: none;
    margin-left: 15px;
    cursor: pointer;
    left: 27%;
}

.icone-destra-footer:hover .linea-tempo-1{
    display: block;
}

.linea-tempo-2{
    border: 3px solid #C1C1C1;
    width: 35%;
    height: 3px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    margin-left: 15px;
    cursor: pointer;
    left: 27%;
}

.pallina-volume{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 63%;
    display: none;
    cursor: pointer;
}

.icone-destra-footer:hover .pallina-volume{
    display: block;
}