*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


/* MAIN-SIDEBAR */
.container{
    display: flex;
    height: 100vh;
}

.container .side-bar{
    background: black;
    width: 20%;
    /* height: 100vh; */
}

.container{
    height: calc(100vh - 60px);
}

.container .side-bar .main-logo{
    width: 185px;
    padding-top: 20px;
}

.spotify-logo{
    padding-left: 10px;
}

/* HOME-SEARCH-LIBRARY */
.side-home-cerca p{
    margin-left: 10px;
}

 .about-side-1{
    color: #858585;
}

.about-side{
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding-left: 10px;
    border-left: 3px solid #ADFF2F;
}

.about-side-1{
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding-left: 14px;
    
}

.about-side img,
.about-side-1 img{
    width: 40px;
}


/* LISTA-NOME-LISTA */
.lista-container {
 padding-left: 15px;
 margin-top: 30px;
}

.lista-container h2{
    font-size: 20px;
    text-transform: uppercase;
}

.mini-quadrato{
    height: 50px;
    width: 50px;
    background: #A3A3A3;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* CONTEINER LOGO-PLUS, CREA-PLAYLIST */
.inline-row{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.inline-row p{
    color: #858585;
    font-size: 18px;
    padding-left: 10px;
}

.plus-logo{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LISTA-NOME PLAYLIST */
.lista-playlist ul{
    margin-top: 20px;
    list-style: none;
}

.lista-playlist li{
    color: #858585;
    padding-bottom: 20px;
}

/* INSTALLA-LOGO-FINE */
  .prova{
      display: flex;
      flex-direction: row;
      color: #858585;
      margin-top: 100px;
}  

.install-logo{
    width: 20px;
    height: 20px; 
    border: 1px solid;
    border-radius: 50%; 
    text-align: center;
     line-height: 15px; 
    display: inline-block;
}

.prova p{
    margin-left: 10px;
}


.install-logo i{
    font-size: 10px;
    color: #858585;
}

.border-bottom{
    border: 1px solid #858585;
    margin-top: 20px;
    width: 270px;
}

.side-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.immagine-profilo img{
    height: 20px;
    width: 20px;
    background: #808080;
    border-radius: 50%;
    margin-top: 10px;
}

.side-footer p{
    color: #fff;
    margin-left: 10px;
    
}

/* BARRA-HEADER-IMMAGINI */
.nav-bar{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: chocolate;
}

.main-brand {
    background: darkgray;
    width: 100%;
}

.mini-container{
    display: flex;
}

.main-brand .main-barra{
    height: 80px;
    background: brown;
}
.mini-container .gallery{
    background: black;
    width: 250px;
    height: 250px;
    margin: 10px;
    color: #fff;
}

/* FOOTER */
.main-footer{
    background: darkslateblue;
    height: 60px;
}

.musica{
    display: flex;
    justify-content: space-between;
}

.musica-quad{
    background: dodgerblue;
    border: 1px solid black;
    height: 60px;
}