*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


/* MAIN-SIDEBAR */
.container{
    display: flex;
    height: 100vh;
}

.container .side-bar{
    background: black;
    width: 20%;
    /* height: 100vh; */
}

/* .main-section{
     height: calc(100vh - 60px); 
} */

.container{
    height: calc(100vh - 80px);
    overflow-y: auto;
    height: 100%;
}

.container .side-bar .main-logo{
    width: 185px;
    padding-top: 20px;
}

.spotify-logo{
    padding-left: 10px;
}

/* HOME-SEARCH-LIBRARY */
.side-home-cerca p{
    margin-left: 10px;
}

 .about-side-1{
    color: #858585;
}

.about-side{
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding-left: 10px;
    border-left: 3px solid #ADFF2F;
}

.about-side-1{
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding-left: 14px;
    
}

.about-side img,
.about-side-1 img{
    width: 40px;
}


/* LISTA-NOME-LISTA */
.lista-container {
 padding-left: 15px;
 margin-top: 30px;
}

.lista-container h2{
    font-size: 20px;
    text-transform: uppercase;
}

.mini-quadrato{
    height: 50px;
    width: 50px;
    background: #A3A3A3;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* CONTEINER LOGO-PLUS, CREA-PLAYLIST */
.inline-row{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.inline-row p{
    color: #858585;
    font-size: 18px;
    padding-left: 10px;
}

.plus-logo{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LISTA-NOME PLAYLIST */
.lista-playlist ul{
    margin-top: 20px;
    list-style: none;
}

.lista-playlist li{
    color: #858585;
    padding-bottom: 20px;
}

/* INSTALLA-LOGO-FINE */
  .prova{
      display: flex;
      flex-direction: row;
      color: #858585;
      margin-top: 100px;
}  

.install-logo{
    width: 20px;
    height: 20px; 
    border: 1px solid;
    border-radius: 50%; 
    text-align: center;
     line-height: 15px; 
    display: inline-block;
}

.prova p{
    margin-left: 10px;
}


.install-logo i{
    font-size: 10px;
    color: #858585;
}

.border-bottom{
    border: 1px solid #858585;
    margin-top: 20px;
    width: 270px;
}

.side-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.immagine-profilo img{
    height: 20px;
    width: 20px;
    background: #808080;
    border-radius: 50%;
    margin-top: 10px;
}

.side-footer p{
    color: #fff;
    margin-left: 10px;
    
}

/* BARRA-HEADER-IMMAGINI */
.nav-bar{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.nav-bar a{
    color: #858585;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .3s;
}

.nav-bar .border{
    border-bottom: 3px solid #ADFF2F;
    width: 45%;
    margin: 0 auto;
    margin-top: 2px;
    transition: .3s;
}

.nav-bar a:hover{
    color:#fff;
}

.main-brand {
    background: #141922;
    width: 100%;
}

.barra-header{
    position: relative;
}

.main-brand .main-barra{
    height: 100px;
    background: rgba(8, 11, 18, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bottone-1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    padding-right: 5px;
}

.main-barra .bottone-1 .upgrade-button{
    text-transform: uppercase;
    cursor: pointer;
    width: 260px;
    height: 50px;
    background: rgba(8, 11, 18, 0.4);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}

/* IMMAGINI */
.gallery{
    display: flex;
    flex-wrap: wrap;
}

.mini-container .col{
    width: 230px;
    margin: 10px;
}   

.immagini{
    height: 230px;
}

.immagini img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col p{
    color: #858585;
    text-align: center;
}

/* IMMAGINI-2 */
.gallery-2{
    display: flex;
}

.mini-container h2{
    margin-top: 40px;
}
.mini-container h2,p{
    padding-left: 10px;
}

.mini-container p{
    color: #858585;
    margin-top: 10px;
}

/* IMMAGINI-3 */
.gallery-3{
    display: flex;
}

.gallery-3 img{
    border-radius: 50%;
}
/* FOOTER */
.main-footer{
    background: darkslateblue;
    height: 80px;
}

.musica{
    display: flex;
    justify-content: space-between;
}

.musica-quad{
    background: dodgerblue;
    border: 1px solid black;
    height: 80px;
}

.musica-quad .musica-ascolto{

}
